<label class="select-proxy-display" data-field="{{field}}" data-type="type">
  <select class="hidden-select form-control">
    <option value="text">Display as text</option>
    <option value="tel">Tap to dial the number</option>
    <option value="email">Tap to send an email</option>
    <option value="url">Tap to visit webpage</option>
      <option value="file">Tap to open file</option>
    <!-- <<option value="address">Address</option> -->
    <option value="image">Display as an image</option>
      <option value="accordion">Display as an accordion</option>
    <!-- <option value="datetime">Date/time</option> -->
      <option value="date">Display as date</option>
  </select>
  <span class="icon fa fa-chevron-down"></span>
  <span class="select-value-proxy">Display as text</span>
</label>
