<select class="hidden-select form-control" name="{{name}}" id="{{id}}">
    <option value="">&mdash; Select a field &mdash;</option>
    {{#each fields}}
        <option value="{{this}}">{{this}}</option>
    {{/each}}
</select>
