<select class="hidden-select form-control" name="{{name}}" id="{{id}}">
    <option value="">-- Select a field</option>
    {{#each fields}}
        <option value="{{this}}">{{this}}</option>
    {{/each}}
</select>