<label class="select-proxy-display minimal" data-field="{{field}}" data-type="type">
  <select class="hidden-select form-control">
    <optgroup label="Display as">
      <option value="text">Display as text</option>
      <option value="date">Display as date</option>
      <option value="image">Display as an image</option>
      <option value="accordion">Display as an accordion</option>
      <!-- <option value="datetime">Date/time</option> -->
    </optgroup>
    <optgroup label="Link as">
      <option value="tel">Phone number</option>
      <option value="email">Email address</option>
      <option value="url">Web address</option>
      <option value="file">File</option>
      <!-- <option value="address">Address</option> -->
    </optgroup>
  </select>
  <span class="icon fa fa-chevron-down"></span>
</label>
